<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Submit Images To the NN</title>
    <link rel="stylesheet" type="text/css" href="http://rehket.asuscomm.com:3000/static/styles/main.css">
    <script src="http://rehket.asuscomm.com:3000/static/js/base64ArrayBuffer.js"></script>
    <script src="http://rehket.asuscomm.com:3000/static/js/getModels.js"></script>
    <script type="text/JavaScript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/JavaScript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/JavaScript" src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>

</head>
<body id="body" onload="init();">

<h1>Draw a face in the left window. See the results in the right.</h1>


<div class="container-div">
    <input id="mySubmitButton" type="button" value="Submit" onclick = "PackAndSend(256, 256)">
    <input id="myFile" name="myFile" type="file" onchange=loadImageToCanvas(event)>
    <select id = "model_selection" name="models">
        <!--Filled Dynamically with the function from getModels.js-->
    </select>
    <select id = "size_selector" name="size_selector" onchange="setDrawSize()">
        <option value="1">Tiny</option>
        <option value="2">Small</option>
        <option value="5">Medium</option>
        <option value="8">Large</option>
    </select>
    <select id = "color_selector" name="color_selector" onchange="setColorIndex()">

        <option value="1">Black</option>
        <option value="0">White/Eraser</option>
    </select>
</div>
<div class="canvas-container">
    <div class="container-div">
        <div class="input-div">
            <canvas id="TemplateCanvas" width="512" height="512"
                    style="z-index: 0;"></canvas>
            <canvas id="InputCanvas" width="512" height="512"
                    style="z-index: 1;"></canvas>
        </div>

    </div>
    <div class="container-div">
        <div class="output-div">
            <canvas id="OutputCanvas" width="512" height="512"></canvas>
        </div>
    </div>

</div>

</body>

<script>

</script>
