.container-div {
    margin: 1em;
    height: auto;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.input-div {
    position: relative;
}
.output-div {
    position: relative;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    display: block;  /* No floating content on sides */
    background-color: #666666;

}
canvas {
    border: 1px solid #000000;

}

#TemplateCanvas, #InputCanvas{
    position: absolute;
    left: 0;
    top: 0;
}

#OutputCanvas, #ResultCanvas {
    position: absolute;
    right: 0;
    top: 0;
}

.container-div {
    margin: 1em;
}
@media screen and (max-width: 1100px){
    #OutputCanvas, #ResultCanvas{
        position: absolute;
        left: 0;
        top: 578px;
    }

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        display: block;  /* No floating content on sides */
        background-color: #009bea;

    }

    .canvas-container {
        text-align: center;
    }
}
